body {
    background-color: #85613E;
    font-family: "Roboto";
}

header {
    text-align: center;
    background-color: #412E5A;
    height: 200px;
}

header img {
    margin-top: 10px;
}

nav {
    height: 80px;
    border: 3px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav div {
    width: 747px;
    height: 30px;
    border: 1px solid white;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav div a {
    color: white;
    text-decoration: none;
}

h2 {
    text-align: center;
}

section {
    background-color: #2B480B;
    height: 402px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0;
}

section div {
    margin: 5px;
    color: white;
}

section div ul {
    list-style-type: circle;
}

footer {
    height: 180px;
    background-color: #412E5A;
}

footer img {
    margin: 30px;
}
